body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    color: black;
    text-align: left;
}

/* SearchBar component styles */
div.search-bar {
    display: flex;
    margin-bottom: 80px;
}

div.search-bar input {
    padding: 10px;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    width: 600px;
    border: 2px solid;
    border-radius: 7px;
}

div.search-bar button {
    padding: 10px;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    width: 75;
    cursor: pointer;
    border: 2px solid;
    border-radius: 7px;
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
