body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color: #f3eae0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1#ucsd {
  font-size: 60px;
  margin-bottom: 10px;
  font-family: 'Inconsolata', monospace;
  color: #120f43
;
  text-align: center;
}

h1#subtitle {
  font-size: 35px;
  margin-top: 10px;
  font-family: 'Inconsolata', monospace;
  color: #120f43
;
  text-align: center;
}

/* SearchBar component styles */
.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* div.search-bar {
  margin-top: 30px; 
  margin-bottom: 300px;
} */

div.search-bar input {
  padding: 2% 3%;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  border: 2px solid #120f43
;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
}

div.search-bar label.filters {
  font-family: 'Inconsolata', monospace;
  color: #120f43
;
  margin-right: 18px;
}

div.search-bar button.search {
  padding: 10px;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: #f3eae0;
  background-color: #3e68a2;
  width: 10%;
  min-width: 100px;
  cursor: pointer;
  border: 2px solid #3e68a2;
  border-radius: 7px;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
}

div.search-bar button.search:hover {
  background-color: #2e5489;
  border: 2px solid #2e5489;
}

div.search-bar select {
  padding: 8px;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: #f3eae0;
  background-color: #e5bf3a;
  border: none;
  border-radius: 7px;
  margin-top: 15px;
  margin-right: 8px;
  width: 165px;
  text-align: center;
  cursor: pointer;
}

div.search-bar select:hover {
  background-color: #d3b031;
}

div.search-bar label {
  margin-left: 10px;
  /* margin-right: 20px; */
  font-weight: bold;
  color: #120f43
;
}

input[type="text"] {
  color: #120f43
;
  /* font-weight: bold; */
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 2px solid #120f43
;
  border-radius: 7px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  z-index: 1000;
}

.popup-text {
  /* padding: 10px; */
  font-family: 'Inconsolata', monospace;
  text-align: center;
  color: #120f43
;
}

.popup-close {
  display: flex;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
  border: 2px solid #3e68a2;
  background-color: #3e68a2;
  color: rgb(249, 245, 236);
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  width: 20px;
  margin-top: -5%;
  margin-left: auto;
  margin-right: -5%;
}

.popup-close:hover {
  background-color: #2e5489;
  border: 2px solid #2e5489;
}

/* About component styles */
.about-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60vh;
  font-family: 'Inconsolata', monospace;
  color: #120f43
;
  width: 90%;
}

.about-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  padding-bottom: 50px;
}

h1.about-text {
  font-family: 'Inconsolata', monospace;
  font-size: 35px;
  color: #120f43
;
  position: relative;
}

/* Projects component styles */
.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60vh;
  font-family: 'Inconsolata', monospace;
  color: #120f43
;
}

h1.projects-text {
  font-family: 'Inconsolata', monospace;
  font-size: 35px;
  color: #120f43
;
  position: relative;
}

div.spacer {
  height: 25%;
  min-height: 25px;
}

/* SearchResults component styles */
h2.search-results-text {
  font-family: 'Inconsolata', monospace;
  font-size: 35px;
  color: #120f43
;
}

h2.search-results-subtitle {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: #120f43
;
  width: 100%;
  font-weight: 300;
  text-align: center;
}

ul.search-results {
  font-family: 'Inconsolata', monospace;
  color: #120f43
;
  padding: 10px;
  flex-direction: column;
  list-style-type: none;
}

.proj-link:link .result-line-title {
  color: #2e5489;
}

.proj-link:visited .result-line-title{
  color: #120f43
;
}

ul.search-results-specs {
  font-family: 'Inconsolata', monospace;
  color: #120f43
;
  padding: 10px;
  list-style-type: none;
  position: relative;
  top: 20px;
}

li.result-line-title {
  padding: 3px;
  font-size: 18px;
}

li.result-line-title:hover {
  text-decoration: underline;
}

li.result-line {
  padding: 3px;
  font-size: 14px;
}

.proj-link {
  color: #120f43
;
  text-decoration: none;
}

/* .results-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* ProjectDetails component styles */
.proj-details-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-family: 'Inconsolata', monospace;
  color: #120f43
;
}

.proj-title {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  color: #120f43
;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  padding-bottom: 4%;
}

.proj-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-top: 2px solid rgb(68, 39, 24, 0.5);
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.subheadings-text {
  text-align: center;
  font-size: 20px;
}

@media (max-width: 700px) {
  div.search-bar input {
    padding: 10px 20px;
    /* font-size: 16px;
    font-family: 'Verdana', sans-serif;
    width: 100%;
    border: 2px solid rgb(23, 22, 71);
    border-radius: 7px;
    background-color: rgb(255, 255, 255); */
  }

  .filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

#about_page_people{
  display: flex;
  justify-content: space-between;
  
}