/* Navbar.css */
.navbar {
    position: absolute;
    top: 20px;
    left: 0;
    height: auto;
    width: auto;
    /* padding: 5%; */
    font-family: 'Inconsolata', monospace;
    /* background-color: rgb(249, 245, 236); */
    color: rgb(68, 39, 24);
    /* margin-top: 50px; */
    margin-left: 50%;
    /* z-index: 1000; */
}

ul.nav {
    display: flex;
    list-style-type: none;
    /* margin: 0; */
    /* padding: 0px; */
}

li {
    margin-right: 50px;
}

li.home-link:hover {
    font-weight: bold;
}

li.about-link:hover {
    font-weight: bold;
}

.navbar a {
text-decoration: none;
color: rgb(68, 39, 24);
}

.navbar a.active {
    font-weight: bold;
}
