/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    background-color: rgb(249, 245, 236);
    color: rgb(68, 39, 24);
    margin-top: 50px;
    margin-left: 330px;
    z-index: 1000;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
}

li {
    margin-right: 50px;
    cursor: pointer;
}

li.home-link:hover {
    font-weight: bold;
}

li.about-link:hover {
    font-weight: bold;
}

.navbar a {
text-decoration: none;
color: rgb(68, 39, 24);
}

.navbar a.active {
    font-weight: bold;
}
